DATABASE_URL="postgresql://postgres.jvauqonspsdrjhenupkv:[SENHA]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"
NEXTAUTH_SECRET="gere-uma-string-aleatoria-aqui"
NEXTAUTH_URL="https://seu-dominio.vercel.app"
RESEND_API_KEY="re_..."
